{% extends 'base.html.twig' %}

{% block title %}Paperss{% endblock %}

{% block body %}

<div id="layout" data-template="Home">
    <div id="app">
        <app></app>
    </div>
</div>

{% endblock %}
